<!-- v.20220915 -->
[@@@SUB-TEMPLATE:admin-form-styles.mtpl.htm@@@]
<center><div><table><tr><td>
	<legend><h1>Change Password for Account</h1></legend><br>
	<form id="change_pass_form" name="change_pass_form" class="ux-form ux-form-aligned" onSubmit="return false;">
		<input type="password" name="password" style="background:#FF3300; display:none;"><!-- fake field to avoid autocomplete -->
		<div class="ux-control-group">
			<label><i class="sfi sfi-user"></i>&nbsp;Username</label>
			<input type="hidden" name="frm[id]" value="[###ID|html###]">
			<span style="font-weight:bold;">[###ID|html###]</span>
		</div>
		<div class="ux-control-group">
			<label>New Password</label>
			<input id="pass" type="password" autocomplete="off" name="frm[pass]" placeholder="New Password" class="ux-input-1-2" pattern=".{7,30}" required title="password length must be between 7 and 30 characters">
		</div>
		<div class="ux-control-group">
			<label>Retype New Password</label>
			<input id="repass" type="password" autocomplete="off" name="frm[repass]" placeholder="New Password Retype" class="ux-input-1-2" title="Retype the password" pattern=".{7,30}" required title="must match the password field above">
		</div>
		<div class="ux-controls">
			<button type="button" class="ux-button ux-button-spacing" onClick="smartJ$Browser.CloseDelayedModalPopUp();"> Cancel &nbsp; <i style="color:#555555;" class="sfi sfi-spinner11"></i></button>
			<button type="button" class="ux-button ux-button-highlight ux-button-spacing" onClick="smartJ$Browser.SubmitFormByAjax('change_pass_form', '[###ACTIONS-URL|html###]change-pass-update', 'yes'); return false;"> Save &nbsp; <i class="sfi sfi-checkmark"></i></button>
		</div>
	</form>
</td></tr></table></div></center>