<!-- AuthAdmins Login # v.20220730 -->
<style>
body {
	background-color: #FFFFFF !important;
}
hr {
	border: none 0;
	border-top: 1px solid #ECECEC;
	height: 1px;
}
a#copyright, a#copyright:hover {
	font-size: 0.625rem !important;
	font-weight: bold;
	color: #888888;
	text-decoration: none;
	border-bottom: dotted 1px #888888;
}
a#special {
	cursor: pointer !important;
	text-decoration: none !important;
	border-bottom: dotted 1px #CCCCCC !important;
}
span.help {
	cursor: help !important;
}
span.info {
	font-size: 28px !important;
	font-weight: bold !important;
	line-height: 48px !important;
}
</style>
<script>
const ovID = 'sf-adm-login-overlay';
const AuthAdminsCheck = () => {
	const url = '[###LOGIN-URL|js###]';
	const dtime = Date.now();
	if((url != undefined) && url) {
		const params = '&url=' + smartJ$Utils.escape_url(url) + '&time=' + smartJ$Utils.escape_url(dtime);
		const uri = '[###LOGIN-SCRIPT|js###]?page=auth-admins.manager&action=login-timeout' + params;
		const chk = '[###LOGIN-SCRIPT|js###]?page=auth-admins.manager&action=login-check' + params;
		smartJ$Browser.OverlayShow(null, null, null, ovID);
		smartJ$Browser.SubmitFormByAjax(null, chk, 'yes', () => { setTimeout(() => { smartJ$Browser.OverlayHide(ovID); }, smartJ$Browser.param_NotificationTimeOK); }, () => { setTimeout(() => { smartJ$Browser.OverlayHide(ovID); }, smartJ$Browser.param_NotificationTimeERR); }, (fid, u, msg) => { if(msg != undefined) { if(msg.status != undefined) { if(msg.status != 401) { setTimeout(() => { self.location = uri; }, 500); return; } } } setTimeout(() => { smartJ$Browser.OverlayClear(ovID); setTimeout(() => { smartJ$Browser.OverlayHide(ovID); self.location = self.location; }, 750); }, 700); }, true);
	}
};
</script>
<div style="text-align:center; padding:8px;">
	<div><center>
		<div id="info-area">
			<div class="ux-grid-row">
				<div class="ux-grid-col m1 s12"><span style="cursor:not-allowed;" title="This is a PRIVATE AREA and requires LOGIN with a valid UserName and Password ... Auth Area ID: `[###AREA-ID|html###]`"><img src="lib/framework/img/sign-info.svg" style="opacity:0.7;"></span></div>
				<div class="ux-grid-col m4 s12"><span class="info" style="color:#778899!important;">Private&nbsp;Area</span></div>
				<div class="ux-grid-col m2 s12"><i class="sfi sfi-xxl sfi-lock" style="color:#EFEFEF;"></i></div>
				<div class="ux-grid-col m4 s12"><span style="font-size:1rem; font-weight:bold; line-height:48px; color:#DDDDDD;" id="info-alt-text"></span></div>
				<div class="ux-grid-col m1 s12"><span style="cursor:help;" title="UNAUTHORIZED OR IMPROPER USE OF THIS PRIVATE COMPUTER AREA may result in administrative disciplinary actions, civil charges/criminal penalties, and/or other sanctions by the law ! DO NOT TRY to login without having an account on this area. Any attempt to enforce this authentication system will be recorded and logged (actions and the IP address) for security reasons." onClick="smartJ$Browser.AlertDialog('<b>' + smartJ$Utils.escape_html($(this).attr('title')) + '</b>', null, 'WARNING', 575, 250);"><img src="lib/framework/img/sign-question.svg" style="opacity:0.7;"></span></div>
			</div>
		</div>
	</center></div>
	<hr>
	<div><center>
		<div>
			<div class="ux-grid-row">
				<div class="ux-grid-col c12 ux-center">
					<div id="auth-admins-area-login">
						<a id="special" title="Click here to Login ..." href="javascript:void(0)" onClick="AuthAdminsCheck();"><span style="color:#7BC043; font-size: 2rem;"><b>Login to :// [###LOGIN-AREA|html###] Area</b></span></a>
					</div>
				</div>
				<div class="ux-grid-col c12 ux-center">
					<div style="cursor:help;">
						<img border="0" width="128" height="128" src="lib/core/img/app/globe.svg" alt="" title="Auth.Admins :: Authentication Module for Smart.Framework">
					</div>
				</div>
				<div class="ux-grid-col c12 ux-center">
					<div title="Click here to Logout ...">
						<a id="special" href="[###LOGOUT-URL|html###]"><span style="color:#5E6885; font-size: 1.25rem;"><b>Logout from :// All NameSpaces</b></span></a>
					</div>
				</div>
			</div>
		</div>
	</center></div>
	<br>
	<div><center>[###POWERED-HTML###]</center></div>
	<a data-smart="open.modal" href="http://www.unix-world.org" target="unix_world_org" id="copyright"><b>&copy;&nbsp;2006-[###CRR-YEAR|html###]&nbsp;unix-world.org</b></a>
</div>
<script>
(() => {
	const privateAreaText = [ // [22 langs] :: EN + 21
		'Privater Bereich', 						// de
		'Zonă Privată', 							// ro
		'Ιδιωτικός χώρος', 							// el
		'Zone privée', 								// fr
		'Área privada', 							// es, po
		'Частная зона', 							// ru, bg
		'Area privata', 							// it
		'Prive-gebied', 							// nl
		'プライベートエリア', 							// ja
		'私人区域', 									// zh
		'Aladani agbegbe', 							// yo
		'Privat område', 							// da, no, sv
		'منطقة خاصة', 								// ar
		'אזור פרטי', 									// he,
		'निजी क्षेत्र', 									// hi, ne
		'Yksityisalue Asiaton oleskelu kielletty', 	// fi
		'Einkasvæði', 								// is
	];
	let i = Math.floor(Math.random() * (privateAreaText.length));
	const displayInfoText = () => {
		if(privateAreaText.length <= 0) {
			return;
		}
		if((i < 0) || (i >= privateAreaText.length)) {
			i = 0;
		}
		const text = String(privateAreaText[i] || '');
		let relFontsize = 16;
		if(text) {
			if(text.length > 16) {
				relFontsize = 16;
			} else {
				relFontsize = 20;
			}
			$('#info-alt-text').empty().hide().css({'font-size':relFontsize+'px'}).text(text).fadeIn('slow');
		}
		i++;
	};
	const delay = 2;
	const animate = () => {
		displayInfoText();
		setTimeout(() => {
			window.requestAnimationFrame(animate);
		}, 1000 * delay);
	};
	animate();
})();
</script>
<!-- # AuthAdmins Login -->