<!-- AuthAdmins Realms # v.20220730 -->
<select title="Available Login Namespaces for [###LOGIN-AREA|ucfirst|html###] Area" id="auth-admins-select-area" size="1" class="ux-field ux-field-xl" style="min-width:300px !important; max-width:70vw;">
[%%%LOOP:LOGIN-NSPACES%%%]<option value="[###LOGIN-NSPACES._-VAL-_|html###]">[###LOGIN-NSPACES._-KEY-_|html###]</option>[%%%|N%%%][%%%/LOOP:LOGIN-NSPACES%%%]
</select>
<button class="ux-button ux-button-super ux-button-details" onClick="(() => { const url = $('#auth-admins-select-area').val(); if(url != undefined) { self.location = String(url); } })();"> <i class="sfi sfi-xl sfi-[%%%IF:AREA:==tsk;%%%]cogs[%%%ELSE:AREA%%%]user-check[%%%/IF:AREA%%%]"></i> &nbsp; Logon the selected NameSpace </button>
<script>
(() => {
	$('#info-area').empty().html('<table><tr><td title="Your Login ID"><img src="lib/framework/img/sign-important.svg" width="32" height="32" style="cursor:help;"></td><td>&nbsp;</td><td><span style="color:#7BC043; font-size: 1.5rem; font-weight:bold;">[###LOGIN-AREA|ucfirst|html|js###] Area :: Authenticated as `[###AUTH-ID|html###]`</span></td></tr></table>');
	smartJ$Browser.GrowlNotificationAdd('You are logged in - [###LOGIN-AREA|ucfirst|html|js###] Area ...', '<b><i>Select</i></b> a <b>Logon NameSpace</b> from the list with the available NameSpaces and proceed ...', 'lib/framework/img/sign-ok.svg', 0, true, 'dark');
})();
</script>
<!-- # AuthAdmins Realms -->