<!-- CSS APP :: r.20220913 -->
<!-- Default Styles -->
[@@@SUB-TEMPLATE:!modules/mod-auth-admins/templates/css-base.inc.htm!@@@]
<!-- SF-Icons Css -->
<link rel="stylesheet" type="text/css" href="lib/css/toolkit/sf-icons.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- App UX Css -->
<link rel="stylesheet" type="text/css" href="lib/css/app.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- App Core Css -->
<link rel="stylesheet" type="text/css" href="lib/core/css/app.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- App Plugins Css -->
<link rel="stylesheet" type="text/css" href="lib/core/plugins/css/app.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- # -->