<!-- Prism, SmartHighlight.Code :: r.20221007 -->
<link rel="stylesheet" type="text/css" href="lib/js/jshilitecode/prism/fonts.css?[###RELEASE-HASH|url|html###]" media="none" onload="if(media!='all'){media='all';}">
<link rel="stylesheet" type="text/css" href="lib/js/jshilitecode/prism/[%%%IF:SEMAPHORE:&*<theme:dark>;(77)%%%]prism-dark[%%%ELSE:SEMAPHORE(77)%%%][%%%IF:SEMAPHORE:&*<theme:light>;(78)%%%]prism-light[%%%ELSE:SEMAPHORE(78)%%%]prism[%%%/IF:SEMAPHORE(78)%%%][%%%/IF:SEMAPHORE(77)%%%].css?[###RELEASE-HASH|url|html###]" media="none" onload="if(media!='all'){media='all';}">
<script defer src="lib/js/jshilitecode/prism/prism.js?[###RELEASE-HASH|url|html###]"></script>
<script defer src="lib/js/jshilitecode/smart-highlight.js?[###RELEASE-HASH|url|html###]"></script>
<script>jQuery(() => { if(typeof(SmartJS_Custom_Syntax_Highlight) == 'function') { SmartJS_Custom_Syntax_Highlight('body'); } });</script>
<!-- # -->