<!-- JS-UI / LightJS :: r.20230123 -->
<!-- UI Dialog --><link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/dialog/simple-dialog.css?[###RELEASE-HASH|url|html###]"><script src="modules/mod-auth-admins/views/js/dialog/simple-dialog.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI AutoComplete --><link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/autosuggest/smart-suggest.css?[###RELEASE-HASH|url|html###]"><script src="modules/mod-auth-admins/views/js/autosuggest/smart-suggest.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Tabs --><link rel="stylesheet" href="modules/mod-auth-admins/views/js/tabs/jquery.tabs.css?[###RELEASE-HASH|url|html###]" type="text/css"><script src="modules/mod-auth-admins/views/js/tabs/jquery.tabs.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Date Picker --><link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/datepicker/css/datepicker.css?[###RELEASE-HASH|url|html###]"><script src="modules/mod-auth-admins/views/js/datepicker/datepicker.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Time Picker --><link rel="stylesheet" href="modules/mod-auth-admins/views/js/timepicker/css/jquery.timepicker.css?[###RELEASE-HASH|url|html###]" type="text/css"><script src="modules/mod-auth-admins/views/js/timepicker/jquery.timepicker.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Single and Multi Select List --><link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/listselect/css/chosen.css?[###RELEASE-HASH|url|html###]"><script src="modules/mod-auth-admins/views/js/listselect/chosen.jquery.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Tables --><link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/datatables/datatables-responsive.css?[###RELEASE-HASH|url|html###]"><script src="modules/mod-auth-admins/views/js/datatables/datatables-responsive.js?[###RELEASE-HASH|url|html###]"></script><script src="modules/mod-auth-admins/views/js/datatables/smart-datatables.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI ToolTip --><link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/jquery.tiptop.css?[###RELEASE-HASH|url|html###]"><script src="modules/mod-auth-admins/views/js/jquery.tiptop.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Framework Bindings --><link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/jquery.smartframework.ui.css?[###RELEASE-HASH|url|html###]"><script src="modules/mod-auth-admins/views/js/jquery.smartframework.ui.js?[###RELEASE-HASH|url|html###]"></script>
<!-- # -->